body {
    background-color: rgb(241, 230, 203);
    text-align: center;
}

h1 {
    text-align: center;
}

form{
    text-align: center;
}

.labels {
    width: 100%;
    text-align: left;
}

.textbox {
    border-radius: .25em;
    background-color: white;
    border: solid 2px;
    text-align: center;
    margin: auto;
}

.pwddiv{
    justify-content: center;
    margin: 0px auto;
    width: 40%;
    display: flex;
}

.userdiv{
    justify-content: center;
    margin: 0px auto;
    width: 40%;
    display: flex;
}